{% extends "bootstrap/base.html" %}


{% block title %}My blog{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
{% block styles %}
        {{ super() }}
        <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet"/>
{% endblock %}
<div class="container" id="page-body">
    {% block page_content %}{% endblock %}
</div>


{% block footer %}
{% include 'footer.html' %}
{% endblock footer%}
{% endblock content %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{% endblock %}


