{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}post page{% endblock %}

{% block page_content %}

标题：{{ post.title }}    <a href="{{ post.url }}/edit">修改</a></br>
    作者：{{ post.author }}</br>
    标签：{{ post.tags }}</br>
    修改时间：{{ post.timestamp }}</br>
    正文：{{ post.content }}</br>


  </br>
 {% for comment in comments %}
    添加时间：{{ comment.timestamp }}</br>
    作者：{{ comment.author }}</br>
    评论：{{ comment.content }}</br>

  </br>
  </br>
{% endfor %}


<div class="col-md-4">
 {{ wtf.quick_form(form) }}
</div>

{% endblock %}

